.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 30px;
    width: 100%;
    max-width: 1240px;
    gap: 30px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
}

.generalInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    color: #FF6060;
    font-weight: 500;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    width: 150px;
    height: 25px;
}

.host {
    display: flex;
    flex-direction: column;
}

.hostInfo {
    display: flex;
}

.hostImage {
    border-radius: 50%;
}

.propertyinfo {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.twoCollapses {
    display: flex;
    justify-content: space-between; /* Espacement égal entre les collapses */
    width: 100%;
}

.collapseItem {
    flex: 1; /* Chaque collapse prendra une part égale de l'espace disponible */
}

.buttonProperty {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    justify-self: center;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    border: none;
}

.collapseItem ul {
    display: flex;
    flex-direction: column;
}

.collapseItem li {
    margin-bottom: 8px; 
}

.rating {
    display: flex; /* Les étoiles sont affichées côte à côte */
    gap: 5px; /* Espacement entre les étoiles */
  }
  
.starFilled {
    color: #FF6060; /* Jaune pour les étoiles pleines */
    font-size: 20px; /* Ajustez la taille selon vos besoins */
  }
  
.starEmpty {
    color: #E0E0E0; /* Gris clair pour les étoiles vides */
    font-size: 20px; /* Même taille que les étoiles pleines */
  }