/* Flèche à droite du bouton */
.arrowIcon {
  margin-left: 10px; /* Espacement entre le texte et l'icône */
  transition: transform 0.3s ease; /* Animation douce pour la rotation */
  width: 32px;
  height: 32px;
}

/* Classe qui applique la rotation de 180 degrés lorsque la section est dépliée */
.rotated {
transform: rotate(-180deg); /* Rotation dans l'autre sens */
}


/* Contenu du collapse */
.collapseContent {
overflow: hidden;
background-color: #F6F6F6; /* Fond gris clair */
transition: max-height 0.3s ease, padding 0.3s ease; /* Animation fluide */
padding: 0 10px; /* Padding par défaut */
opacity: 0; /* Transparence par défaut */
transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* État ouvert */
.collapseContent.open {
min-height: 182px;
padding: 20px; /* Ajoute du padding lors du déploiement */
opacity: 1; /* Rétablit la visibilité */
}

/* État fermé */
.collapseContent.closed {
max-height: 0;
padding: 0 10px; /* Padding réduit lorsque fermé */
opacity: 0; /* Cache le contenu */
}