.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
.header {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
  }

nav {
  width: 309px;
  display: flex;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  width: 136px;
  text-align: right;
}

a {
  font-weight: 500;
  font-size: 24px;
  text-decoration: none; 
  color: black; 
}
  
.main {
    flex: 1;
    padding: 2rem;
    width: 100%;
    max-width: 1240px;
    align-self: center;
  }
  
.footer {
    background-color: #000000;
    color: white;
    padding: 1rem;
    text-align: center;
  }



  