.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
/*padding-left: 2rem; */
  padding: 100px;
  width: 87%;
  max-width: 1240px;
}

.header {
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
/*padding-left: 1rem; */
  max-width: 1240px;
  margin-bottom: 50px;
}

nav {
width: 309px;
display: flex;
}

ul {
width: 100%;
display: flex;
justify-content: space-between;
padding: 0;
list-style-type: none;
}

li {
display: inline;
width: 136px;
text-align: right;
}

a {
font-weight: 500;
font-size: 24px;
text-decoration: none; 
color: black; 
}

.main {
  flex: 1;
/*    padding: 2rem; */
  padding-bottom: 2rem;
  width: 100%;
  max-width: 1240px;
  align-self: center;
}

.footer {
  background-color: #000000;
  color: white;
  text-align: center;
}

/* Mettre les textes du Header en Majuscules à partir de 768px */
@media (max-width: 768px) {
.header {
  text-transform: uppercase;
}
}