.layout {
  display: flex;
  flex-direction: column;
  height: auto; /*100vh*/
  width: 100%;
  max-width: 1440px;
}

.header {
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 87%;
  max-width: 1240px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.header img {
width: 210px;
height: 68px;
}

nav {
width: 309px;
display: flex;
}

ul {
width: 100%;
display: flex;
justify-content: space-between;
padding: 0;
list-style-type: none;
}

li {
display: inline;
width: 136px;
text-align: right;
}

a {
font-weight: 500;
/*  font-family: Montserrat, Arial; */
font-size: 24px;
color: black; 
text-decoration: none;
}

.activeLink {
text-decoration: underline;
}


.main {
flex: 1;
/*padding: 2rem; */
padding-bottom: 30px;   /*2rem; */
width: 87%;
max-width: 1240px;
align-self: center;
}

.footer {
background-color: #000000;
color: white;
text-align: center;
width: 100%;
max-width: 1440px;
height: 209px;
font-weight: 500;
font-size: 24px;
font-family: Montserrat, Arial;
}

.footer img {
margin-top: 66px;
}

.footer p {
margin-top: 30px;
}


/* Animation de lumière bleue */
@keyframes flashBlue {
0% {
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
}
50% {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.8);
}
100% {
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
}
}

/* Classe pour l'animation */
.flashAnimation {
animation: flashBlue 0.5s ease-in-out;
transition: box-shadow 0.5s ease-in-out;
}





/* RESPONSIVE */
@media (max-width: 768px) {

.header {
  text-transform: uppercase;
}

.header img {
  width: 140px;
  height: 46.88px;
}

nav {
  width: 57%;
  max-width: 190px;
}

a {
  font-size: 12px;
}


.footer {
  font-size: 12px;
}

.footer p {
  width: 95px;
  margin-top: 16px;
  justify-self: center;
  padding-left: 19px;
  padding-right: 19px;
}
}


@media (max-width: 365px) {

.header img {
    width: 43%;
    height: auto;
  }

nav {
    width: 57%;
    max-width: 190px;
  }


}
