.nofound {
  display: flexbox;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 109px;
  color: #FF6060;
  font-family: Montserrat, Arial;
}

.nofound h1 {
display: flex;
align-items: center;
font-size: 288px;
font-weight: 700;
width: 597px;
height: 263px;
margin-top: 89px;
margin-bottom: 139px;
}

.message {
  font-size: 36px;/*2rem;*/
  font-weight: 500;
  color: #FF6060;
  margin-bottom: 139px;
  text-align: center;
}

.link {
  color: black;
  font-size: 18px; /*1rem;*/
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none; /* Désactive le saut des parties où l'encre rencontre un caractère descendant */
}


/* RESPONSIVE */
@media (max-width: 768px) {

.nofound {
  margin-bottom: 83px;
}

.nofound h1 {
  width: 198px;
  height: 99px;
  font-size: 96px;
  margin-top: 63px;
  margin-bottom: 113px;
}

.message {
  font-size: 18px;
  margin-bottom: 113px;
}

.link {
  font-size: 14px;
}

}